<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../common/css/styleinitialize.css">
    <link rel="stylesheet" href="../common/css/classify.css">
</head>
<body>
<div class="classify-content">
    <div class="stylesheet-top">
        <a class="f_left">
            <div class="sanjiao">
            </div>
            <div class="sanjiao1">

            </div>
        </a >
        <h1 class="f_left">产品分类</h1>
        <div class="f_right seek">搜索</div>
    </div>
    <div class="stylesheet-newproduct clearfix">
        <h2 class="headline">新品合集</h2>
        <div class="stylesheet-focusimg">
            <div class="sanjiao">

            </div>
        </div>
        <ul class="stylesheet-newproductlist">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="stylesheet-beautymakeup clearfix">
        <h2 class="headline">美妆产品 <a href="">更多</a></h2>
         <div class="stylesheet-beautymakeup-box">
             <div class="stylesheet-beautymakeup-l"></div>
             <div class="stylesheet-beautymakeup-r"></div>
             <div class="stylesheet-beautymakeup-r1"></div>
         </div>
    </div>
    <div class="stylesheet-beautymakeup clearfix">
        <h2 class="headline">美妆产品</h2>
        <div class="stylesheet-beautymakeup-box">
            <div class="stylesheet-beautymakeup-l"></div>
            <div class="stylesheet-beautymakeup-r"></div>
            <div class="stylesheet-beautymakeup-r1"></div>
        </div>
    </div>
    <div class="stylesheet-beautymakeup clearfix">
        <h2 class="headline">美妆产品</h2>
        <div class="stylesheet-beautymakeup-box">
            <div class="stylesheet-beautymakeup-l"></div>
            <div class="stylesheet-beautymakeup-r"></div>
            <div class="stylesheet-beautymakeup-r1"></div>
        </div>
    </div>

</div>

</body>
</html>