<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../common/css/styleinitialize.css">
</head>
<body>
<div class="footerbox">
    <ul class="clearfix ">
        <li class="kinds">
                  <div class="img"></div>
            <p>分类</p>
        </li>
        <li class="vip">
            <div class="img "></div>
            <p>vip</p>
        </li>
        <li class="main">
            <div class="img"></div>
            <p>&nbsp;</p>
        </li>
        <li class="shop">
            <div class="img"></div>
            <p>购物车</p>
        </li>
        <li class="me">
            <div class="img"></div>
            <p>我的</p>
        </li>
    </ul>
</div>
</body>
</html>